@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td,button{ margin:0; padding:0;  }
img { border:0; vertical-align: middle;}
body{font-size:12px; color:#555555; font-family:"微软雅黑"; }
 img { border:0; display:block; /*防止图片底下3像素的空白缝隙 */}
a{ text-decoration: none;}
li{list-style: none;}


/*小组申请*/
.apply{width:1200px; height:757px;  margin:0 auto;}
.apply ul i{width:13px; height:14px; float:left; background:url(../images/icon-png.png)  no-repeat;  background-position:-4px -91px;}

.apply .list{ margin:30px 0 46px 0; height:12px;}
.apply .list ul li{float:left; margin-left:7px; height:12px;}
.apply  .list ul li a{color:#A3A3A3;}

 .apply .tube{height:40px;position:relative;}

.apply .tube ul li{width:119px; height:37px;background:url(../images/tube.png) no-repeat right;   float:left; margin-left:10px; text-align:center;}
.apply .tube ul li a{line-height:33px; color:#753F3F;}
.apply .tube ul li:first-child{margin:0;}
.apply .tube ul .first{background:url(../images/tube.png)  no-repeat; }
.apply .tube ul .first a{color:#FFF;}
.apply .tube ul .first div{background:url(../images/tube.png) no-repeat; border:0;}

.apply .apply-in{height:555px;  margin-top:40px;}
.apply .apply-in_left{
	width:856px;
   float:left;
}
.apply .apply-in_left .id{position:relative;}
.apply .apply-in_left .id .inputs{width:180px; height:30px; font-size:14px;  resize: none;  color:#505050;line-height:30px; border:1px solid #ccc; text-indent:0.5em;}

#main_pagination{margin-top:30px; float:right;}
#main_pagination p{float:left; margin-right:5px; margin:0;}
#main_pagination a{ margin-left: 5px; padding: 2px 6px; color:#696666; }
#main_pagination .one{height:24px; background:#ff5371; border-radius:3px;  color:#fff;}

.apply .apply-in_left .btn{width:59px; height:26px; background:#FF5371;  border-width:0; font-size:14px; border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;
-ms-border-radius:5px; color:#FFFFFF; border:1px solid ##DE7B8D; -webkit-border:1px solid #DE7B8D;-moz-border:1px solid #DE7B8D;-ms-border:1px solid #DE7B8D; cursor:pointer; 
margin:3px 0 0 15px;}
.apply .apply-in_left .photo{margin-top:30px;}
.apply .apply-in_left .photo ul li{
	height:48px;
    float:left;
    padding-top:10px;
    width:214px;
}
.apply .apply-in_left .photo ul li img{float:left; }
.apply .apply-in_left .photo ul li h6{font-size:12px; color:#FFAA47;}
.apply .apply-in_left .photo ul li span{font-size:12px; color:#8D8D8D; cursor:pointer;}
.apply .apply-in_left .photo ul li input{width:13px;height:13px;display:block;}
.apply .apply-in_right{width:311px; height:437px; background:url(../images/applt-in_r.jpg) no-repeat; float:right;}
.apply .apply-in_left .btns{background: none repeat scroll 0 0 #ff5371;
    border-radius: 5px;
    border-width: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    height: 43px;
    width: 178px; margin-top:51px; float:left;}
	.apply .apply-in_left p{float:left; margin:70px 0 0 5px; color:#989898;}


